@charset "utf-8";

/* Block tags */
    body {
        page: letter;
        font-size: 12pt;
        font-family: Palatino, "Book Antiqua", "MS Mincho", "Apple Symbols", 
            "Arial Unicode MS", Georgia, serif;
        prince-text-replace: "?" "\202f?";
        font-variant: prince-opentype(clig, onum);
                hyphens: auto;
/*      prince-hyphenate-patterns: url('hyp_tex_en_us.dic');*/
        prince-hyphenate-after: 4;
        prince-hyphenate-before: 4;
        prince-hyphenate-lines: 1;

    }
    h1, h2, h3, h4, th {
        font-family: Helvetica, "Meiryo", "Apple Symbols", "Arial Unicode MS", sans-serif;
        font-weight: bold;
        page-break-after: avoid;
    }
    h2, h3, h4 {
        margin-top: 1em;
        margin-bottom: 0;
    }
    h1 {
        font-variant: small-caps;
        font-size: 26pt;
        text-align: center;
        margin-top: 1.5in;
        margin-bottom: 1in;
    }
    h2 {
        font-size: 19pt;
    }
    h3 {
        font-size: 16pt;
    }
    h4 {
        font-size: 12pt;
    }
    h1 + h2, h2 + h3, h3 + h4, hr + * {
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 em, h2 em, h3 em, h4 em {
        line-height: none;
        font-style: oblique;
    }
    p {
        text-align: justify;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12pt; 
        line-height: 19pt;
    }
    p + p {
        text-indent: .25in;
    }
    blockquote {
        margin: 1em .25in;
    }
    blockquote p {
        font-size: 10pt; 
        line-height: 16pt;
    }

/* Inline tags */
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: underline;
        color: blue;
    }
    code {
        font-family: Courier, "Courier New", monospace;
        font-size: 10pt;
    }
    var {
        font: 1em "Apple Symbols", Symbol, Osaka;
        font-style: normal;
        line-height: none;
    }
    sup {
        line-height: none;
    }
    em em { 
        /*If you have italics in italics, unitalicize */
        font-style: normal;
    }

/* Table tags */
    table {
        width: 100%;
    }
    td, th {
        vertical-align: top;
    }
    th {
        font-weight: bold;
        text-align: center;
    }
    td + td, th + th {
        padding-left: 1em;
    }

/*  HR tag */
    hr {
        page-break-after: always;
        visibility: hidden;
        border: none 0;
        width: 0;
        height: 0; 
        margin: 0;
    }

/*Footnotes and citations*/
    .fn {
        float: footnote;
        counter-increment: footnote;
        footnote-style-position: inside;
        text-indent: .125in;
        margin: 0;
        font-size: 10pt;
        line-height: 16pt;
    }
    .fn::footnote-call {
        content: counter(footnote);
        font-size: 75%;
        vertical-align: super;
        line-height: none;
    }
    .fn::footnote-marker {
        content: counter(footnote) ".\0000a0 ";
        vertical-align: super;
        line-height: none;
        font-size: .75em;
    }
    .chapter {
        /* New chapter, new footnote numbering. */
        counter-reset: footnote;
    }
    @page {
        @footnotes {
        border-top: solid black thin;
        padding-top: .5em;
        padding-bottom: .5em;
        margin: 0;
        }
    }

/* Lists */
    ul, ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    ul > li > p {
        /*Decided that hanging indent looks bad with hanging numerals but needed for unordered lists.*/
        text-indent: .25in hanging;
        /*padding-left: .25in; */
    }
    li ol, li ul { 
    /* Scoot over as you nest lists */
        margin-left: .35in;
    }
    li {
        font-size: 12pt; 
        line-height: 19pt;
        list-style-position: outside;
    }
    li p + p {
      text-indent: 0;
      padding-left: .25in;
    }
    li::marker {
        text-align: right;
        padding: 0;
        padding-right: .0625in;
        margin: 0;
    }

    /* List Marker types */
    ol li {
        list-style-type: none;
    }
        
    li ol li {
        list-style-type: upper-roman;
    }
    
    li li ol li {
        list-style-type: upper-alpha;
    }
    li li li ol li {
        list-style-type: decimal;
    }
    /* If it's a sub-list, it probably needs a marker */
    li ul li {
        list-style-type: circle;
    }

    li li ul li {
        list-style-type: square;
    }

    li li li ol li {
        list-style-type: decimal;
    }
    
    .decimal ol li, .arabic ol li {
        list-style-type: decimal;
    }
    
    /* TOC specific */
    li a[href^="#"]::after {
      content: leader('\B7 ') " " target-counter(attr(href), page);
      font-style: normal;
    }
    
    li a[href^="#"].roman::after {
      content: leader('\B7 ') " " target-counter(attr(href), page, lower-roman);
      font-style: normal;
    }

    .toc li {
        list-style-position: outside;
    }
    .toc li::marker {
        padding: 0;
    }
    .toc li li::marker {
        display: inline-block;
        padding: 0;
        width: .35in;
        text-align: left;
        /*background-color: blue;*/
    }
    /* Bibliography*/

    ul p:not(:first-child) {
        text-indent: 0;
        padding-left: .25in;
    }


/*Custom classes*/

    .smallcaps { 
        font-variant: small-caps; 
    }
    .noindent {
        text-indent: 0;
    }
    .twocols, .threecols {
        column-rule-width : 0;
        column-rule-style : solid;
        column-rule-color : black;
        column-gap: 1in;
    }
    .twocols aside, .threecols aside { 
        /* There are a lot more combinations here, 
        but I don't want to deal with it now. */
        float: prince-column-footnote;
    }
    .twocols {
        column-count: 2;
    }
    .threecols {
        column-count: 3;
    }
    .outline ul li, .outline + ul li {
        list-style-type: circle;
    }
    .outline li ul li {
        list-style-type: square;
    }
    .outline li li ul li {
        list-style-type: disc;
    }

/* Language specific */
    :lang(el) {
        /* Greek */
        font-family: Gentium, serif;
    }
    :lang(zh), .asian-trad {
        /* Chinese */
        font-family: Palatino, "BiauKai", "Apple Symbols", 
            "Arial Unicode MS", serif;
    }
    :lang(ja) {
        /* Japanese */
        font-family:  Palatino, "MS Mincho",
            "Apple Symbols", "Arial Unicode MS", serif;
        font-size: .85em;
    }
    .asian-sans {
        font-family: "Helvetica", "Meiryo", 
            "Apple Symbols", "Arial Unicode MS", sans-serif;
    }

/* Ruby text*/
   ruby {
      text-indent: 0;
      display:inline-table;
      text-align:center;
      border-collapse:collapse;
      /* border collapse mechanism
      will be used to adjust vertical alignment */
      vertical-align:middle;
      /* if ruby text contains text only
      and there are two ruby annotations
      (one placed above the base and one below)
      then vertical centering roughly aligns baseline of
      base    with baseline of parent */
      border-bottom:solid 0.75em transparent;
      /* o.75em is height of ruby text (0.5\0000d7 1.2em = 0.6em)
      plus space between baseline and text-bottom (about 0.15em)
      this extra border is counter-weight used
      to restore vertical centering broken
      by presence of ruby text
      (in case if there is only one ruby annotation,
      if there are two annotations
      then counter-weight is no longer
      necessary and can be annihilated
      using border collapse mechanism) */}
   ruby > rt, rtc
      {display:table-header-group;}
      /* used to move first ruby
      container above the base */
   ruby > rb, rbc, ruby > rt + rt, rtc + rtc
      {display:table-row;}
      /* base and second ruby
      are formatted as table-rows */
   ruby > rt + rt, rtc + rtc
      {border-bottom:hidden;}
      /* if there are two annotations then extra
      border is no longer    necessary
      and can be annihilated
      using border collapse mechanism  */
   rb, rbc, rt, rtc
      {white-space:nowrap;}
      /* prohibits line breaks inside ruby text  */
   rtc > rt, rbc > rb
      {display:table-cell; }
      /* used to distribute annotations
      in table like manner */
   rtc > rt[rbspan]
      {column-span:attr(rbspan);}
      /* ruby text may span several cells */
   ruby > rt, rtc
      {
      font-size:0.5em;
      line-height:1.2em;}
      /* font-size of ruby text is reduced */
   rp
      {display:none;}
      /* fallback markup is no longer necessary */ 

/*Page shape stuff*/
@page letter {
  size: letter;
  margin:     1in;
  padding:    0;
  @bottom-center {
    margin-bottom:  .75in;
    font:           1em Palatino, "Book Antiqua", serif;
    content:        counter(page);
    vertical-align: bottom;
  }
  @top-center {
    font:       1em Palatino, "Book Antiqua", serif;
    text-align: center;
  	content:    string(doctitle);
  	text-transform: uppercase;
  }
}

@page letter:right {
}
@page letter:left {
}

@page frontmatter {
  size: letter;
  margin:     1in;
  padding:    0;
  @bottom-center {
    margin-bottom:  .75in;
    font:           1em Palatino, "Book Antiqua", serif;
    content:        counter(page, lower-roman);
    vertical-align: bottom;
  }
  @top-center {
    font:       1em Palatino, "Book Antiqua", serif;
    text-align: center;
    content:    string(doctitle);
    text-transform: uppercase;
  }
}

@page frontmatter:first {
  @bottom-center { 
    content: "" !important; /* Safari bug. */
    content: normal !important;
  }
}


/* For web browsers */
@media screen {
    body {
        max-width: 800px;
        margin: 100px;
    }
    .fn {
        font-size: 8pt;
/*        position: absolute;*/
        margin-top: 0;
        margin-right: -2in;
        margin-bottom: 4em;
        display: inline-block;
        float: right;
        clear: right;
        width: 1.75in;
        text-align: left;
        text-indent: 0;
        overflow: auto;
    }
    blockquote .fn {
        margin-right: -2.25in;
    }
    .fn::before {
        content: "\2020  ";
    }
}

/* For iPhone */
@media only screen and (max-device-width: 480px) { 
    html {
        max-width: 320px;
        margin-right: 160px;
    }
}

/* For iPad */
@media only screen and (max-device-width: 1024px) { 
    html {
        max-width: 768px;
    }
}

/*Dissertation junk*/

div {
    page-break-before: always;
}

.frontmatter {
    page: frontmatter;
}

.bodytext {
    counter-reset: page 1
}

.titlepage {
    font-variant: small-caps;
    text-align: center;
}
.titlepage p {
    text-indent: 0;
    width: 100%;
    text-align: center;
}